<div class=" col-xs-12 col-lg-12 col-md-12 form-group" ng-show={{field.viewStatus}}>
	<label for="{{field.fieldName}}"
		class="control-label col-md-2 col-xs-2" tooltip-placement="bottom"  tooltip={{field.tooltip[0].body}}>{{field.fieldLabel}}:</label>
	<div class="col-xs-4 col-md-4">
		<select ng-model="field.fieldValue" name="{{field.fieldName}}"
			ng-change="showOtherOptions()" class="form-control"
			ng-required="field.required"
			data-ng-options="option.name for option in field.options">
			<option value="">Select {{field.fieldLabel}}</option>
		</select> 
	</div>
	<div class="col-xs-2 col-md-2 nopadding" ng-show="field.required && !field.fieldValue">
				<span class="reqText">*</span></div>
</div>

<div class="clearfix"></div>