<div class="col-xs-12 col-lg-12 col-md-12 form-group dynamicdiv" ng-show={{field.viewStatus}} id="{{field.fieldName}}">
	<label for="{{field.fieldLabel}}"
		class="control-label col-md-2 col-xs-2">{{field.fieldLabel}}:</label>
	<div class="col-xs-4 col-md-4">
		<input type="text" class="form-control"
			name="{{field.fieldName}}" ng-model="field.fieldValue"
			value="{{field.fieldValue}}" ng-required="field.required"> 
			
			<!-- <span class="required-error" ng-show="field.required && !field.fieldValue">*</span> -->
	</div>
	<div class="col-xs-2 col-md-2 nopadding" ng-show="field.required && !field.fieldValue">
				<span class="reqText">*</span></div>
			</div>


<div class="clearfix">	</div>